* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  min-width: 360px;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif !important;
  scroll-behavior: smooth;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

/* NavBar Style */
.navbar-brand {
  position: relative;
  bottom: 1px;
}

#logo-EP {
  width: 220px;
  position: relative;
}

.nav-item {
  padding: 15px;
}

.navbar {
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.nav-link {
  font-size: 12pt;
  font-weight: 700;
  color: rgb(0, 64, 118);
  transition: .5s ease-in-out;
}

.nav-link:hover {
  color: rgb(0, 64, 118);
}

.line_nav::after {
  width: 0;
  height: 2px;
  content: '';
  display: block;
  transition: width .4s;
  background: rgb(0, 64, 118);
}

.line_nav:hover::after {
  width: 100%;
  transition: width .4s;
}

.menu-button {
  width: 30px;
  height: 3px;
  bottom: 3px;
  margin-top: 5px;
  position: relative;
  border-radius: 5px;
  background-color: rgb(0, 64, 118);
}

/* Footer Style */
#logofooter {
  text-align: left;
}

.miniMenu {
  text-align: right;
  color: rgb(0, 64, 118);
;
}

.footer a {
  color: rgb(0, 64, 118) !important;
}

.footer a:hover {
  text-decoration: none !important;
  color: #0f67a0 !important;
}

hr {
  height: 1px;
  background: #003255;
}

@media only screen and (max-width: 768px) {
  #logofooter {
    text-align: center;
    margin-bottom: 15px;
  }

  .miniMenu {
    text-align: center;
  }

  #logofooter img {
    width: 50%;
  }
}

footer i {
  margin: 10px;
  font-size: 26px;
}

footer i:hover {
  color: rgb(0, 64, 118);
}

footer {
  background-color: #f0f0f0;
  position: relative;
  height: auto;
  clear: both;
}

/* Responsive */
@media screen and (max-width:991px) {
  .nav-link {
    display: inline-block !important;
  }
}


