section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 600px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay_content {
    z-index: 1;
    width: 40rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    color: #fefefe;
}

.row_info {
    position: relative;
    top: 110px !important;
}

.row_info_cursos{
    font-size: 50px;
    font-weight: 700;
}

.row_info_cursos_label{
    font-size: 20px;
}



.overlay_content h1 {
    font-weight: 700;
    line-height: 1.6;
    font-size: 3.5rem;
}



.index {
    top: 660px;
}

.contacts {
    font-size: 15px;
}

footer {
    margin-top: 200px;
}

footer i {
    font-size: 18px;
}

.top_video {
    display: none;
}

.oquefazemos {
    position: relative;
    left: 15px;
    text-align: justify;
    line-height: 1.8;
}

.img_card {
    margin-bottom: -450px;
    top: -450px;
    left: 560px;
    height: 430px;
    background-image: url("../media/about-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.circuloIcone {
    background: white;
    border: 6px solid rgb(0, 64, 118);
    width: 120px;
    height: 120px;
    z-index: -2;
    margin-bottom: -80px;
    margin-left: 110px;
    margin-top: -80px;
}

.card .card-img-top {
    height: 200px;
    border-radius: 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    margin-top: 65px;
}






.btnx{
    height: 100px;
    width:100px;
    border: 6px solid rgb(0, 64, 118);
    border-radius: 50%;
    color:rgb(0, 64, 118);
    font-size: 50px;
}


.btnx:hover{
    background-color:rgb(0, 64, 118);
    animation: wiggle 0.1s ease-in-out 0.1s 2 alternate;
}


@keyframes wiggle {
    from {
       -webkit-transform: rotate(10deg);
    }
    to {
      -webkit-transform-origin:center center;
      -webkit-transform: rotate(-10deg);
    }
   
}





/* Inscrição btn */
#btn_inscripcion{
    background-image: url("../media/buttons/img1.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#btn_inscripcion:hover{
    background-image: url("../media/buttons/img1w.png");
    box-shadow: 0 0 8px #bfc4ce;
    border-color: #002e54;
}
/* Postulación btn */
#btn_postulation{
    background-image: url("../media/buttons/img2.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#btn_postulation:hover{
    background-image: url("../media/buttons/img2w.png");
    box-shadow: 0 0 8px #bfc4ce;
    border-color: #002e54;
}
/* Matricula btn */
#btn_matricula{
    background-image: url("../media/buttons/img3.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#btn_matricula:hover{
    background-image: url("../media/buttons/img3w.png");
    box-shadow: 0 0 8px #bfc4ce;
    border-color: #002e54;
}
/* Viaje btn */
#btn_viaje{
    background-image: url("../media/buttons/img4.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#btn_viaje:hover{
    background-image: url("../media/buttons/img4w.png");
    box-shadow: 0 0 8px #bfc4ce;
    border-color: #002e54;
}
/* Viaje Portugal btn */
#btn_viajept{
    background-image: url("../media/buttons/img5.png");
    background-repeat: no-repeat;
    background-position: 10px center;
}
#btn_viajept:hover{
    background-image: url("../media/buttons/img5w.png");
    box-shadow: 0 0 8px #bfc4ce;
    border-color: #002e54;
}



.accordion{
    display: none;
    font-size: 18px;
}


.texts_info {
    font-size: 18px;
    line-height: 35px;
}

.textos_comuns {
    font-weight: 700;
    color: rgb(0, 64, 118);
}

#card-img-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../media/img1.jpg");
}

#card-img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../media/img2.jpg");
}

#card-img-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../media/blog-image.jpg");
}

#card-img-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../media/img3.jpg");
}

#card-img-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../media/students.jpeg");
}


.infos_icon{
    font-size: 45px;
}

.infos-mobile{
    display: none;
}

.infos-mobile .fa{
    font-size: 24px;
}










/* Responsive */
@media screen and (max-width: 1920px) {
    .img_card {
        top: -480px;
        height: 450px;
    }
}

@media screen and (max-width: 1300px) {
    .img_card {
        top: -465px !important;
        height: 430px !important;
    }
}

@media screen and (max-width: 1196px) {
    div.circuloIcone {
        margin-left: 82px;
    }
}





@media screen and (max-width: 988px) {
    div.circuloIcone {
        margin-left: 40px;
    }
}

@media screen and (max-width: 1199px) {
    .img_card {
        display: none;
    }

    .oquefazemos {
        display: none;
    }

    .oquefazemosresponsi {
        margin-right: 15px;
        margin-left: 15px;
        text-align: justify;
        text-justify: inter-character;
    }
}





@media screen and (min-width: 768px) {
    .cardsRespons {
        display: none;
    }
}

@media screen and (max-width: 764px) {
    .cards_Portugal {
        display: none;
    }
}

@media screen and (min-width: 1198px) {
    .oquefazemosresponsi {
        display: none;
    }
}

@media screen and (max-width: 810px) {
    .img_card {
        display: none;
    }
}



@media screen and (max-width: 995px) {
    .btn-circle.btn-xl {
        width: 80px;
        height: 80px;
        padding: 15px 16px;
        border-radius: 40px;
        font-size: 24px;

    }
}



@media screen and (max-width: 768px) {
    .infos{
        width: 194px !important;
    }
}


@media screen and (max-width: 770px) {
    .accordion{
        display: block;
    }

    .img_infos{
        display: none;
    }

    .texts_info{
        float: none;
        display: block;
        width: 100% !important;
    }
}


@media screen and (max-width:769px) {
    .btns-infos{
        display: none;
    }
    .infos-mobile{
        display: block;
    }
}

@media screen and (max-width: 578px) {
    .infos{
       min-width: 100%;
       clear: both;
    }
}

@media screen and (max-width: 475px) {
    .row_info {
        position: relative;
        top: 40px !important;
        font-size: 13px;
        margin-left: 5px;
        margin-right: 5px;

    }
    .middle-col-info{border:none!important;}
}


@media screen and (max-width: 585px) {


    .row_info_cursos{
        font-size: 40px;
    }

    .row_info_cursos_label{
        font-size: 18px;
    }
}


@media screen and (max-width: 390px) {
    video {
        display: none;
    }

    .overlay {
        display: none;
    }

    section {
        background-image: url("../media/students.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
