#main{
    padding-bottom: 0!important;
}

.hero-image {
  min-height: 85%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../media/blog-image.jpg");
}

.hero-text {
  top: 185px;
  color: white;
  position: relative;
  display: inline-block;
}

.hero-text h1 {
  font-weight: 700;
  line-height: 1.6;
  font-size: 3.5rem;
}

.hero-text a {
  color: white;
  font-size: 0.70rem;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 12px 20px 12px 20px;
  transition: 0.3s ease-in-out;
  background-color: rgba(0, 64, 118, 0.8);
}

.hero-text a:hover {
  text-decoration: none;
  background-color: rgba(0, 64, 118, 1);
}

#main h3 {
  font-weight: 700;
  display: inline-block;
  color: rgb(0, 64, 118);
  border-bottom: 3px solid rgb(0, 64, 118);
}

.post-link {
  color: rgb(33, 37, 41);
}

.post-link:hover {
  text-decoration: none;
  color: rgb(33, 37, 41);
}

.card {
  cursor: pointer;
  margin-top: 50px;
  transition: 0.3s ease-in-out;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}

div.inner {
    overflow: hidden;
}

.card-img-to {
    width: 100%;
    height: 200px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.card_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.msgDivulgacoes{
    text-align: center !important;
    margin-right: 40%;
    margin-left: 40%;
}


/*========== Paginação ==========*/

.pagination {
    margin-top: 2%;
    margin-bottom: 2%;
}

.page-link {
    color: black !important;
    font-weight: 400;
}

.page-link:hover {
    background-color: #0789C2 !important;
}

.page-item.active .page-link{
    background-color: #0789C2 !important;
    border-color: #ffffff !important;
}

/* Responsive */
@media screen and (max-width:767px) {
  .hero-text h1 {
    line-height: 1.3;
  }

  #main {
    padding-top: 50px;
  }
}

@media screen and (max-width:391px) {
  .hero-text {
    top: 150px;
  }

  .hero-text h1 {
    line-height: 1.3;
  }

  .hero-text p {
    position: relative;
    top: 10px;
  }
}

@media screen and (max-width:372px) {
  .hero-text {
    top: 120px;
  }
}

@media screen and (max-height: 635px){
  .hero-image {
    min-height: 600px;
    margin-top: 5px;
  }
}
