section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
}

.container{
    overflow: hidden;
}

.hero-image {
    min-height: 85%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../media/about-image.jpg");
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.3);
}

.row_info {
    position: relative;
    top: 100px;
}

.overlay_content {
    z-index: 1;
    width: 50rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    color: #fefefe;
}

.overlay_content h1 {
    font-weight: 700;
    line-height: 1.6;
    font-size: 3.5rem;
}

.textos_comuns {
    font-weight: 700;
    color: rgb(0, 64, 118);
}

#title {
    margin-bottom: 100px;
}

#textIntro {
    text-align: center;
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
}

#textIntro1 {
    text-align: center;
    margin-top: 35px;
    margin-left: 15%;
    margin-right: 15%;
}

#nStudents {
    text-align: center;
}

div.circuloIcone {
    background: white;
    border: 6px solid rgb(0, 64, 118);
    width: 120px;
    height: 120px;
    z-index: -2;
    margin-bottom: -90px;
    margin-left: 95px;
    margin-top: -80px;
}

div.card {
    width: auto;
    height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 50px;
}

div.cartoesEstudantes_Univer .card {
    margin-bottom: 30px;
    width: auto;
    position: center;
}

.figure-img {
    margin-left: 5px;
    margin-top: 35px;
}

/* Responsive */

@media screen and (max-width: 1199px) {
    #valores h3 {
        padding-top: 30%;
        padding-bottom: 30%;
    }

    .img-fluid.imgem_rapariga {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1196px) {
    #valores h3 {
        padding-top: 30%;
        padding-bottom: 30%;
    }

    .img-fluid.imgem_rapariga {
        margin-top: 60px;
    }

}

@media screen and (max-width: 1192px) {
    .img-fluid.imgem_rapariga {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1174px) {
    .img-fluid.imgem_rapariga {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1064px) {
    .img-fluid.imgem_rapariga {
        margin-top: 60px;
    }
}

@media screen and (max-width: 991px) {
    div.card {
        width: auto;
        height: 280px !important;
    }

    .img-fluid.imgem_rapariga {
        margin-top: 70px;
        width: 100% !important;
    }

    .overlay {
        height: 100%;
    }

    container.textos_comunsh3 {
        margin-top: 70px;
    }
}

@media screen and (max-width: 980px) {
    div.circuloIcone {
        margin-left: 27px;
    }

    .contagem {
        top: 40px;
    }
}

@media screen and (min-width: 882px) {
    .textos_missao_visao_respons {
        display: none;
    }
}


@media screen and (max-width: 882px) {
    .img-fluid.imgem_rapariga {
        display: none;
    }

    .textos_missao_visao {
        display: none;
    }

    .container.textos_comuns_Intro {
        margin-top: 60px;
        margin-bottom: -50px;
    }
}

@media screen and (max-width: 764px) {
    #valores {
        display: none;
    }
}


@media screen and (max-width: 482px) {

    .contagem {
        top: -10px;
        margin: 0 5px;
        font-size: 10px;
    }
}

@media screen and (max-width: 449px) {
    section {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contagem {
        top: 40px;
        margin: 0 5px;
        font-size: 10px;
    }
}

@media screen and (max-width: 412px) {
    .overlay_content h1 {
        margin-top: 60px;
        font-weight: 600;
        font-size: 3rem;
    }
}

@media screen and (max-width: 408px) {
    .overlay_content h1 {
        margin-top: 60px;
        font-weight: 600;
        font-size: 3rem;
    }

    .contagem {
        top: 10px;
        margin: 0 5px;
        font-size: 5px;
    }
}
