body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/media/students.jpg");
}

.form {
    width: 35%;
    float: right;
    height: 100%;
    position: relative;
    background-color: white;
    border-top: 5px solid rgb(0, 64, 118);
}

.login-form {
    top: 190px;
    position: relative;
    padding: 0 40px 0 40px;
}

.account-confirmation-form {
    top: 160px;
    position: relative;
    padding: 0 40px 0 40px;
}

.title {
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

.labels {
    font-weight: 600;
    font-size: 0.75rem;
    margin-bottom: .3rem;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

#email, #password {
    font-size: 0.8rem;
    padding: 20px 10px 20px 10px;
}

#email:focus, #password:focus {
    border-color: rgba(0, 64, 118, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(0, 64, 118, 0.6);
}

.action-buttons {
    margin: 0;
    padding: 0;
    float: right;
    font-weight: 600;
    position: relative;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

#register-button {
    bottom: 20px;
    position: relative;
}

.submit-button {
    font-weight: 400;
    font-size: 0.75rem;
    border-radius: 2px;
    color: white !important;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    background-color: rgba(0, 64, 118) !important;
}
