.hero-image {
  min-height: 85%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../media/contact-image.jpg");
}

.hero-text {
  top: 185px;
  color: white;
  position: relative;
  display: inline-block;
}

.hero-text h1 {
  font-weight: 700;
  line-height: 1.6;
  font-size: 3.5rem;
}

.hero-text a {
  color: white;
  font-size: 0.70rem;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 12px 20px 12px 20px;
  transition: 0.3s ease-in-out;
  background-color: rgba(0, 64, 118, 0.8);
}

.hero-text a:hover {
  text-decoration: none;
  background-color: rgba(0, 64, 118, 1);
}

#main h3 {
  font-weight: 700;
  display: inline-block;
  color: rgb(0, 64, 118);
}

#main p {
  display: inline-block;
  color: rgb(0, 64, 118);
}

.icon-bg {
  margin-left: 9px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(0, 64, 118);
}

.icon-bg i {
  top: 40%;
  left: 50%;
  color: white;
  position: relative;
  transform: translate(-50%, -50%);
}

form .input-form {
  width: 90%;
  border: none;
  padding: 10px;
  transition: 0.3s ease-in-out;
  background-color: transparent;
  border-bottom: 2px solid rgba(0, 64, 118, 0.5);
}

form .input-form:hover,
form .input-form:focus {
  border-bottom: 2px solid rgba(0, 64, 118, 1);
}

form textarea {
  width: 90%;
  border: none;
  resize: none;
  padding: 10px;
  transition: 0.3s ease-in-out;
  background-color: transparent;
  border-bottom: 2px solid rgba(0, 64, 118, 0.5);
}

form textarea:hover,
form textarea:focus {
  border-bottom: 2px solid rgba(0, 64, 118, 1);
}

form #formButtons {
  right: 10%;
  float: right;
  position: relative;
}

form #formButtons input {
  color: white;
  border: none;
  font-size: 0.75rem;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 10px 15px 10px 15px;
  transition: 0.3s ease-in-out;
  background-color: rgba(0, 64, 118, 0.8);
}

form #formButtons input:hover {
  background-color: rgba(0, 64, 118, 1);
}

/* Responsive */
@media screen and (max-width:767px) {
  .hero-text h1 {
    line-height: 1.3;
  }

  #contact-form {
    position: relative;
    top: 100px;
  }

  .input-form, form textarea {
    width: 100% !important;
  }

  #formButtons {
    right: 0 !important;
  }

  #main {
    padding-top: 50px;
  }
}

@media screen and (max-width:428px) {
  #formButtons {
    float: none !important;
    right: 0 !important;
  }

  #resetBtn {
    display: none;
  }

  #submitBtn {
    width: 100%;
  }
}

@media screen and (max-width:391px) {
  .hero-text {
    top: 150px;
  }

  .hero-text h1 {
    line-height: 1.3;
  }

  .hero-text p {
    position: relative;
    top: 10px;
  }
}

@media screen and (max-height: 635px){
  .hero-image {
    min-height: 600px;
    margin-top: 5px;
  }
}
