html,body{
    min-width:400px;
}

.btn-outline-warning:hover {
    color: white !important;
}

.topbar .navbar-collapse{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.scroll-sidebar, .ps-container, .ps-theme-default, .navbar-brand{
    background-color: white;
    z-index: 1000;
}

.sidebar-nav #sidebarnav .sidebar-item.selected>.sidebar-link{
    border-radius: 0;
    color: #fff!important;
    background: linear-gradient(to right, rgba(68,123,199,1) 0%, rgba(62,117,193,1) 32%, rgba(55,107,179,1) 54%, rgba(56,107,177,1) 71%, rgba(52,103,172,1) 100%);
    box-shadow: 0 2px 7px 0 rgba(95,118,232,.21);
    opacity: 1;
}

.sidebar-item.selected{
    color: #fff!important;
    background: linear-gradient(to right, rgba(68,123,199,1) 0%, rgba(62,117,193,1) 32%, rgba(55,107,179,1) 54%, rgba(56,107,177,1) 71%, rgba(52,103,172,1) 100%);
}


.logo-icon img{
    width: auto;
    height: 50px;
}

.logo-text img{
    width: auto;
    height: 50px;
}


.topbar .navbar-collapse {
    padding: 0 10px 0 0;
    border-bottom: 0;
    background: #edf2f9;
    width: 100%;
}
.topbar .navbar-collapse {
    box-shadow: none;
}
.topbar .navbar-collapse {
    padding: 0 10px 0 0;
    border-bottom: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: #999999;
}
