/* Modal Style */
.modal .modal-content {
    border: none;
}

.modal .modal-header {
    height: 60px;
    border: none !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal .modal-header h6 {
    top: 4px;
    left: 8px;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

.close-modal-button {
    top: 3px;
    right: 2px;
    position: relative;
}

.close-modal-button i {
    font-size: 1rem;
}

.modal .line {
    top: 3px;
    left: 50%;
    width: 95%;
    height: 1px;
    position: relative;
    display: inline-block;
    transform: translate(-50%, -50%);
    background-color: rgba(230, 230, 230);
}

.modal .modal-body {
    min-height: 100px;
    margin-top: 10px;
}

.modal .modal-body h4 {
    left: 8px;
    font-weight: 400;
    font-size: 0.9rem;
    position: relative;
    display: inline-block;
}

.modal .modal-body #user-delete-name {
    left: 8px;
    border: none;
    font-weight: 500;
    font-size: 0.9rem;
    position: relative;
    font-style: italic;
    display: inline-block;
    background-color: transparent;
}

.modal .modal-footer {
    bottom: 10px;
    min-height: 30px;
    padding-top: 0px;
    position: relative;
    border: none !important;
}

.modal .modal-footer button {
    right: 10px;
    border-radius: 2px;
    position: relative;
}
