/*Loading*/
#loaderBg{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 10000;
    transition: 0.5s ease-in-out;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -5px 0 0 -15px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #5f76e8;
    width: 50px;
    height: 50px;
    animation: spin 1.5s ease-in-out infinite;
    transition: 0.5s ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
