/* General Styles */
* {
    margin: 0;
    padding: 0;
}

.modal-body {
    height: 180px;
    overflow-y: auto;
}

.warning_img_size{
    box-shadow: 0 0 0 2px #ffbaba;
    background-color:#ffbaba;
}

html, body {
    height: 100%;
    min-width: 360px;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif !important;
}

/* First Section */
#imageBg_1 {
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/media/landingpage-image.jpg");
}

.icon-bg-header {
    left: 15%;
    width: 35px;
    height: 35px;
    position: relative;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
}

.icon-bg-header i {
    top: 34%;
    left: 51%;
    color: white;
    font-size: .95rem;
    position: relative;
    transform: translate(-50%, -50%);
}

.overlay_content {
    z-index: 1;
    width: 50rem;
    color: #fefefe;
    text-align: left;
    margin-top: 120px;
}

.overlay_content h1 {
    line-height: 1.6;
    font-weight: 800;
    font-size: 3.1rem;
}

.overlay_content p {
    font-size: 2rem;
    font-weight: 600;
}

.overlay_content h2 {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 800;
    margin-bottom: 25px;
}

.overlay_content_padding {
    margin-top: 80px !important;
}

.overlay_content_padding form {
    width: 60%;
    margin-bottom: 25px;
}

.overlay_content_padding form button {
    width: 100%;
    height: 50px;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: rgb(0, 64, 118);
}

.overlay_content_padding form button:hover {
    color: white;
}

.overlay_content_padding h2, form {
    float: right;
    display: inline-block;
}

.icones {
    padding-left: 35%;
}

/* Second Section */
.textOverlayContentBlue {
    padding: 40px 0 40px;
}

.textOverlayContentBlue h4 {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 800;
    padding-bottom: 20px;
    color: rgb(0, 64, 118);
}

.textOverlayContentBlue {
    text-align: center;
    color: rgb(0, 64, 118);
}

.textOverlayContentBlue i {
    font-size: 50px;
    margin-top: 20px;
}

.textOverlayContentBlue p {
    font-weight: 600;
}

/* Third Section */
#imageBg_2 {
    min-height: 60%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/media/img4.jpg");
}

.textOverlayContent {
    float: right;
    margin-top: 5%;
    color: #fefefe;
    padding-left: 30%;
    text-align: center;
}

.textOverlayContent h4 {
    font-weight: 800;
    line-height: 1.6;
    font-size: 3.5rem;
}

.textOverlayContent h5 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6;
    padding-bottom: 10px;
}

.textOverlayContent button {
    color: white;
    width: 150px;
    height: 50px;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: rgb(0, 64, 118);
}

/* Testimonials */
#imageBg_3 {
    min-height: 60%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/media/img5.jpg");
}

.colaboradoresTextWhite {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.colaboradoresTextWhite h4 {
    color: white;
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.testemunhos {
    margin-top: 30px;
    text-align: center;
}

.foto_testemunha img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.carousel-item {
    height: 350px;
}

.carousel-indicators li {
    width: 9px;
    height: 10px;
    border-radius: 100%;
}

/* Contributors */
.colaboradoresText {
    padding: 30px 0 30px;
}

.colaboradoresText h4 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#colaboradores img {
    width: 60%;
    height: auto;
    margin-bottom: 30px;
}

/* Footer Style */
footer {
    color: white;
    padding-top: 30px;
    background-color: #262626;
}

footer a {
    color: white !important;
}

footer a:hover {
    color: white !important;
    text-decoration: none !important;
}

hr {
    height: 0.4px;
    background: white;
}

#logoFooter img {
    width: 200px;
}

#textFooter {
    margin-top: 15px;
    line-height: 1.3rem;
    text-align: justify;
}

footer p {
    font-size: 14px;
}

.icon-bg {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 22px;
    display: inline-block;
    border: 1.5px solid white;
}

.icon-bg i {
    top: 16%;
    left: 19%;
    color: white;
    font-size: 0.9rem;
    position: relative;
    margin-bottom: 29px;
    transform: translate(-50%, -50%);
}

.icon-bg i:hover {
    color: white!important;
}

/* Responsive Section */
@media screen and (max-width: 986px) {
    .icones {
        display: none;
    }

    .overlay_content {
        width: 100rem;
        margin-top: 80px;
        text-align: center;
    }

    .overlay_content_padding h2 {
        text-align: center !important;
    }

    .overlay_content_padding form {
        clear: both;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .overlay_content_padding h2, form {
        float: none;
        text-align: center;
        display: inline-block !important;
    }

    .textOverlayContentBlue h4 {
        margin-top: 20px;
        line-height: 1.2;
        font-size: 1.5rem;
    }

    .textOverlayContentBlue i {
        font-size: 30px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px) {
    .textOverlayContent {
        clear: both;
        padding: 15px;
        display: block;
        line-height: 1px;
        text-align: center;
    }

    .textOverlayContent h4 {
        line-height: 1.2;
    }

    .textOverlayContent h5 {
        line-height: 1.2;
    }

    footer, p {
        text-align: center !important;
    }

    .icon-bg i {
        top: 15px;
        left: 27%;
    }

    #colaboradores img {
        width: 120px !important;
    }

    .overlay_content_padding h2, form {
        float: none;
        padding-left: 10px;
        text-align: center;
        padding-right: 10px;
        margin-bottom: 30px;
    }

    .container .textOverlayContent {
        margin-bottom: -155px;
    }
}
