.mobile_res{
    display: none;
}

.card{
    min-width: 192px;
}

.clock{
    min-width:250px;
}


.stretched-link, .newpost{
    color:black;
}

.newpost:hover{
    color: #c8945d;
}

.clock_back{
    background-image: url("../media/clock.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: -140px;
}



@media screen and (max-width: 580px) {
    .mobile_res{
        display: block;
    }
    .full_res{
        display: none;
    }


}



@media screen and (max-width: 892px) {
    .clock_back{
        background-position-y: 15%;
    }


}




@media screen and (max-width: 1000px) {

    .icon_dash{
        display: none;
    }


}
