.col-img{
    width: 230px !important;
    min-width:208px;

}

.col-fields{
    min-width: 400px;
    overflow: hidden;
}


.warning{
    font-weight: bold;
    color:red;
    font-size: 13px;
}
.warning_info_hidden{
    display: none;
}
.warning_info_show{
    display:block;

}


img.foto{
    width: 150px;
    height: 100px;
    border-radius: 100%;
    background-size: cover!important;
    background-position: center!important;
}


@media screen and (max-width: 740px) {
    th:nth-of-type(1),td:nth-of-type(1) {
        display: none;
    }


}



@media screen and (max-width: 700px) {
    .col-img{
        text-align: center;
        width: 100%;
    }


}
